<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="19.1.164" targetFramework="net472" />
  <package id="Infragistics.WPF.Calendar" version="19.1.164" targetFramework="net472" />
  <package id="Infragistics.WPF.Controls.Grids.XamGrid" version="19.1.164" targetFramework="net472" />
  <package id="Infragistics.WPF.DataManager" version="19.1.164" targetFramework="net472" />
  <package id="Infragistics.WPF.Gantt" version="19.1.164" targetFramework="net472" />
  <package id="Infragistics.WPF.Menus" version="19.1.164" targetFramework="net472" />
  <package id="Infragistics.WPF.Schedules" version="19.1.164" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
</packages>